{% extends 'base.html' %}
{% block body %}
<h3>图片列表</h3>

{% for picture in latest_picture_list %}
<img src="{{ picture.imgage.url }}">
{% endfor %}

<ul>
{% if latest_picture_list %}
    {% for picture in latest_picture_list %}
    <li><a href="{% url 'picture:pic_detail' picture.id %}">{{ picture.title }}</a>
        - {{ picture.date| date:"Y-m-j" }}</li>
    {% endfor %}
{% else %}
    <li>还没有上传新图片</li>
{% endif %}
</ul>
<p><a href="{% url 'picture:pic_upload' %}">上传新图片</a></p>
{% endblock %}